<ion-view view-title="About Us">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        <h2>About Us</h2>
      </div>

      <div class="item item-text-wrap">
        <h2><strong>The Best Doctor's Friend, Inc.</strong></h2>
        <p>The idea of this website and the mobile application is intended for doctors so that they can manage everything related
          to their patients through a web application and a mobile application. A doctor has many patients and each patient
          has a different medical history with your respective medical treatment. The website and the mobile application
          provide an user interface that makes easier the management of patient information. A doctor must access only to
          the information of your patients.</p>
      </div>
    </div>

  </ion-content>
</ion-view>