<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add a new Patient</h1>
    <div class="buttons">
      <button class="button button-calm" ng-click="closeAddPatients()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <form id="addPatientsForm" name="addPatientsForm" ng-submit="savePatient()">
      <div class="list">

        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="patients.firstName" placeholder="First Name">
        </label>

        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="patients.lastName" placeholder="Last Name">
        </label>      	

        <label class="item item-input">
          <span class="input-label">Age</span>
          <input type="number" placeholder="Age" ng-model="patients.age" min="0">
        </label>



        <label class="item item-input item-select">
          <span class="input-label">Gender</span>
            <select ng-model="patients.gender">
                <option ng-repeat="n in ['Male', 'Female']" value="{{n}}">{{n}}</option>
            </select>
        </label>

        <label class="item item-input">
          <span class="input-label">Number</span>
          <input type="tel" ng-model="patients.phoneNumber" placeholder="Phone Number">
        </label>

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="patients.email" placeholder="Email">
        </label>

        <label class="item item-input">
          <span class="input-label">History</span>
            <textarea type="text" ng-model="patients.medicalHistory"></textarea>
        </label>

        <label class="item item-input">
          <span class="input-label">Treatment</span>
            <textarea type="text" ng-model="patients.medicalTreatment"></textarea>
        </label>

        <label class="item item-input">
          <span class="input-label">Appointment</span>
          <input type="date" ng-model="patients.nextAppointment">
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
        
      </div>
    </form>
  </ion-content>
</ion-modal-view>