<ion-view view-title="Contact Us">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        <h2>Contact Us</h2>
      </div>

      <div class="item item-text-wrap">
        <h2><strong>The Best Doctor's Friend, Inc.</strong></h2>
        <h2> Caracas, Municipio Libertador</h2>
        <h2>Distrito Capital, Venezuela</h2>
        <h2><i class="icon ion-ios-telephone"></i>: +58 414 7440817</h2>
        <h2><i class="icon ion-email"></i>: ignacp@gmail.com</h2>
      </div>

      <div class="button-bar">
        <a class="button button-positive icon-left ion-ios-telephone">Call</a>
        <a class="button button-calm icon-left ion-social-skype">Skype</a>
        <a class="button button-balanced icon-left ion-email">Email</a>
      </div>
      
    </div>

  </ion-content>
</ion-view>