<ion-view view-title="The Best Doctor's Friend">
    <ion-content>

        <div class="card">
            <div class="item item-image">
                <img src="img/Logo.png" alt="Logo">
            </div>

            <div class="item item-text-wrap">
                <h2><strong>The Best Doctor's Friend</strong></h2>
                <p>A doctor has many patients and each patient has a different medical history with your respective medical
                    treatment. The website and the mobile application provide an user interface that makes easier the management
                    of patient information.</p>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                List of Features:
            </div>
            <div class="item item-text-wrap">
                <h3><i class="icon ion-ios-checkmark"></i> Add a patient</h3>
                <h3><i class="icon ion-ios-checkmark"></i> Edit a patient</h3>
                <h3><i class="icon ion-ios-checkmark"></i> Delete a patient</h3>
            </div>
        </div>

    </ion-content>
</ion-view>